In [1]:
import pandas as pd

In [4]:
# 빈 데이터프레임 생성. 열 이름을 지정합니다.
df = pd.DataFrame(columns=['Grade', 'Semester', 'Unit'])

In [5]:
df

Empty DataFrame
Columns: [Grade, Semester, Unit]
Index: []

In [9]:
data = []
data.append({'Grade': 1, 'Semester': 1, 'Unit': '1. 9까지의 수'})
data.append({'Grade': 1, 'Semester': 1, 'Unit': '2. 여러 가지 모양'})
data.append({'Grade': 1, 'Semester': 1, 'Unit': '3. 덧셈과 뺄셈'})
data.append({'Grade': 1, 'Semester': 1, 'Unit': '4. 비교하기'})
data.append({'Grade': 1, 'Semester': 1, 'Unit': '5. 50까지의 수'})

data.append({'Grade': 1, 'Semester': 2, 'Unit': '1. 100까지의 수'})
data.append({'Grade': 1, 'Semester': 2, 'Unit': '2. 덧셈과 뺄셈(1)'})
data.append({'Grade': 1, 'Semester': 2, 'Unit': '3. 여러 가지 모양'})
data.append({'Grade': 1, 'Semester': 2, 'Unit': '4. 덧셈과 뺄셈(2)'})
data.append({'Grade': 1, 'Semester': 2, 'Unit': '5. 시계 보기와 규칙 찾기'})
data.append({'Grade': 1, 'Semester': 2, 'Unit': '6. 덧셈과 뺄셈(3)'})

data.append({'Grade': 2, 'Semester': 1, 'Unit': '1. 세 자리 수'})
data.append({'Grade': 2, 'Semester': 1, 'Unit': '2. 여러가지 도형'})

In [12]:
df = pd.DataFrame(data)
df

    Grade  Semester             Unit
0       1         1        1. 9까지의 수
1       1         1      2. 여러 가지 모양
2       1         1        3. 덧셈과 뺄셈
3       1         1          4. 비교하기
4       1         1       5. 50까지의 수
5       1         2      1. 100까지의 수
6       1         2     2. 덧셈과 뺄셈(1)
7       1         2      3. 여러 가지 모양
8       1         2     4. 덧셈과 뺄셈(2)
9       1         2  5. 시계 보기와 규칙 찾기
10      1         2     6. 덧셈과 뺄셈(3)
11      2         1        1. 세 자리 수
12      2         1       2. 여러가지 도형